target/**/*
target/
*.db
*~
.classpath
.project
.settings/**
.manager/**
.scala_dependencies
target/
lib_managed/
src_managed/
project/boot/
sbt-launch.jar
sbt.bat
ssh.exe.stackdump
bin/**/*
bin/*
bin/